#root {
  /* background-color: rgb(181, 255, 255); */
  background-color: var(--cyan);
}

.MuiTypography-body2 {
  font-size: 2rem !important;
}
.MuiCard-root {
  background-color: rgba(97, 5, 48, 0.513) !important;
  color: white !important;
}
.MuiTypography-root {
  font-size: 16px !important;
}
.MuiAvatar-root {
  font-size: 2.25rem !important;
}
.MuiButton-label {
  color: white !important;
}
.MuiSvgIcon-root {
  color: white !important;
}
.MuiCardMedia-root {
  height: 350px;
}
